<p id="notice"><%= notice %></p>

<p>
  <strong>Capacity:</strong>
  <%= @parking_area.capacity %>
</p>

<%= link_to 'Edit', edit_parking_area_path(@parking_area) %> |
<%= link_to 'Back', parking_areas_path %>
